{% extends "BStudios/master.html" %}

{% block content %}

    <p>Curso: {{ curso }}</p>

    <p>Cursos:</p>
    <ul>
        {% for curso in cursos %}
        <li>
            <p><a href="{% url 'detalhes' curso.idCurso %}">{{ curso.nome}}</a></p>
            <p>{{ curso.descricao | linebreaks}}</p>
        </li>

        {% empty %}
        <li>
            Não há curso.
        </li>

        {% endfor %}
    </ul>
    <p><a href="{% url 'cursoadd' curso.idCaCursos%}">Adicionar novo curso</a></p>
    
{% endblock content %}