{% extends "BStudios/master.html" %}

{% block content %}

    <h3>{{ detalhe.nome }}</h3>
    <ul>
        <li>
            <img src="{{ detalhe.image.url }}" alt="{{ detalhe.nome }}">
            <p>{{ detalhe.descricao }}</p>
            <p>Início: {{ detalhe.dataInicio }}</p>
            <p>Fim: {{ detalhe.dataFim }}</p>
            <p>Horario inicial: {{ detalhe.hora_inicio }}</p>
            <p>Horario final: {{ detalhe.hora_final }}</p>
            <p>Dias: {{ detalhe.dias }}</p>
            <p>Valor: {{ detalhe.valor_cur }}</p>
            <p>Profissionais: {{ detalhe.fk_idFuncionario }}</p>
            {% if request.user.is_superuser %}
            <p><a href="{% url 'edit_curso' detalhe.idCurso %}">Editar curso</a></p>
            <p><a href="{% url 'excluir_curso' detalhe.idCurso%}">Adicionar novo curso</a></p>
            {% endif %}
        </li>
    </ul>
    {% if user.is_authenticated %}
    {% elif not request.user.is_superuser %}
    <a href="{% url 'comprar_curso' detalhe.idCurso%}">Comprar</a>
    {% else %}
    <a href="{% url 'arealogin' %}">Comprar</a>
    {% endif %}
{% endblock content %}