{% extends "BStudios/master.html" %}
{% load static %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/cursos.css' %}">

{% if request.user.is_superuser %}
    <a class="add-curso-btn" href="{% url 'cursosadd' %}">Adicionar nova categoria</a>
{% endif %}


<h1>CATEGORIAS:</h1>
<div class="cursos-container">
    {% for cacurso in cacursos %}
    <div class="curso-card">
        <a href="{% url 'curso' cacurso.idCaCursos %}">{{ cacurso }}</a>
        {% if cacurso.image %}
            <img src="{{ cacurso.image.url }}" width="100%" height="90px" alt="{{ cacurso.nome }}">
            <p>Aprenda técnicas de microagulhamento e ofereça tratamentos que renovam e rejuvenescem a pele!</p>
        {% else %}
            <p>Sem imagem disponível</p>
        {% endif %}
        {% if request.user.is_superuser %}
        <div class="admin-actions">
            <a href="{% url 'edit_cursos' cacurso.idCaCursos %}" class="btn-editar">Editar categoria</a>
            <a href="{% url 'excluir_cursos' cacurso.idCaCursos %}" class="btn-excluir">Excluir categoria</a>
        </div>
        {% endif %}
    </div>
    {% empty %}
        <p>Não há cursos adicionados.</p>
    {% endfor %}
</div>



{% endblock content%}