{% extends "BStudios/master.html" %}

{% block content %}

    <h3>{{ detalhe.nome }}</h3>
    <ul>
        <li>
            <p>{{ detalhe.descricao }}</p>
            <p>Início: {{ detalhe.dataInicio }}</p>
            <p>Fim: {{ detalhe.dataFim }}</p>
            <p>Horario inicial: {{ detalhe.hora_inicio }}</p>
            <p>Horario final: {{ detalhe.hora_final }}</p>
            <p>Dias: {{ detalhe.dias }}</p>
            <p>Valor: {{ detalhe.valor_cur }}</p>
            <p>Profissionais: {{ detalhe.fk_idFuncionario }}</p>
            <p><a href="{% url 'edit_curso' detalhe.idCurso %}">Editar anotação</a></p>
        </li>
    </ul>
    <a href="{% url 'agendamentos' %}">Agendar</a>
{% endblock content %}