{% extends "BStudios/master.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% if request.user.is_superuser %}
        <a class="add-curso-btn" href="{% url 'cursoadd' curso.idCaCursos%}">Adicionar novo curso</a>
    {% endif %}
    <h1>CONFIRA NOSSOS CURSOS - {{ curso }}</h1>
    <div class="cursos-container">
        {% for curso in cursos %}
        <div class="curso-card">
            <a href="{% url 'detalhes' curso.idCurso %}">{{ curso.nome}}</a>

            {% if curso.image %}
                <img src="{{ curso.image.url }}" alt="{{ curso.nome }}">
            {% endif %}

            <p>{{ curso.descricao | linebreaks}}</p>
            
        </div>

        {% empty %}
        <li>
            Não há curso.
        </li>

        {% endfor %}
    </div>

    
    
{% endblock content %}