{% extends "BStudios/master.html" %} 

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cadd.css' %}">

<p class="title">Adicione uma nova Categoria:</p>

<form action="{% url 'cursosadd' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class=" tit">Nome:</p>
    <input type="text" name="nome" placeholder="Digite seu nome" required>
    <p class="tit">Imagem </p>
    <input type="file" name="image" placeholder="Adicione uma imagem" required>
    <button type="submit">Adicionar</button>
</form>


{% endblock content %}