{% extends "BStudios/master.html" %}

{% block content %}


    <ul>
        {% for cacurso in cacursos %}
            <li>
                <a href="{% url 'curso' cacurso.idCaCursos %}">{{ cacurso }}</a>
                {% if cacurso.image %}
                    <img src="{{ cacurso.image.url }}" alt="{{ cacurso.nome }}" style="max-width: 200px; height: auto;">
                {% else %}
                    <p>Sem imagem disponível</p>
                {% endif %}
                {% if user.is_authenticated %}
                <p><a href="{% url 'edit_cursos' cacurso.idCaCursos %}">Editar categoria</a></p>
                <p><a href="{% url 'excluir_cursos' cacurso.idCaCursos %}">Excluir categoria</a></p>
                {% endif %}
            </li>
        {% empty %}
            <li>Não há cursos adicionados.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'cursosadd' %}">Adicionar nova categoria</a>
    {% endif %}
{% endblock content%}