{% extends "BStudios/master.html" %}

{% block content %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul>
        {% for cacurso in cacursos %}
            <li>
                <a href="{% url 'curso' cacurso.idCaCursos %}">{{ cacurso }}</a>
                {% if cacurso.image %}
                    <img src="{{ cacurso.image.url }}" alt="{{ cacurso.nome }}" style="max-width: 200px; height: auto;">
                {% else %}
                    <p>Sem imagem disponível</p>
                {% endif %}
                <p><a href="{% url 'edit_cursos' cacurso.idCaCursos %}">Editar anotação</a></p>
                <a href="{% url 'excluir_cursos' cacurso.idCaCursos %}">Adicionar nova categoria</a>
            </li>
        {% empty %}
            <li>Não há cursos adicionados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'cursosadd' %}">Adicionar nova categoria</a>
{% endblock content%}