{% extends "Bstudios/master.html" %}

{% block content %}

<p><a href="{% url 'detalhes' edit.idCurso %}">{{ edit.nome }}</a></p>

<p>Editar curso:</p>

<form action="{% url 'edit_curso' edit.idCurso %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Nome:<input type="text" name="nome" value="{{ edit.nome }}" placeholder="Digite nome do curso" required></p>
    <p>Imagem: <input type="file" name="image" placeholder="Adicione uma imagem sobre o curso"></p>
    <p>Descrição:<input type="text" name="descricao" value="{{ edit.descricao }}" placeholder="Digite uma descrição do curso" required></p>
    <p>Início:<input type="date" name="dataInicio" value="{{ edit.dataInicio }}" required></p>
    <p>Fim:<input type="date" name="dataFim" value="{{ edit.dataFim }}" required></p>
    <p>De:<input type="time" name="hora_inicio" value="{{ edit.hora_inicio }}" required></p>
    <p>Até:<input type="time" name="hora_final" value="{{ edit.hora_final }}" required></p>
    <p>Dias:<input type="text" name="dias" value="{{ edit.dias }}" placeholder="Digite os dias de curso" required></p>
    <p>Valor:<input type="number" step="0.01" name="valor_cur" value="{{ edit.valor_cur }}" placeholder="Digite o valor do curso" required></p>

    <p>Categorias:
        <select name="fk_idCaCursos" required>
            <option value="" disabled>Selecione uma categoria</option>
            {% for categoria in categorias %}
            <option value="{{ categoria.idCaCursos }}">
                {{ categoria.nome }}
            </option>
            {% endfor %}
        </select>
    </p>

    <p>Funcionários:
        <select name="fk_idFuncionario" required>
            <option value="" disabled>Selecione um funcionário</option>
            {% for funcionario in funcionarios %}
            <option value="{{ funcionario.idFuncionario }}">
                {{ funcionario.nome }}
            </option>
            {% endfor %}
        </select>
    </p>

    <button name="submit">Salvar</button>
</form>
{% endblock content %}