{% extends "BStudios/master.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <ul>
        {% for funcionario in funcionarios %}
            <li>
                <p>{{ funcionario.nome }}</p>
                <p>{{ funcionario.email }}</p>
                <p>{{ funcionario.telefone }}</p>
                <p>{{ funcionario.cargo }}</p>
            </li>
        {% empty %}
            <li>Não há funcionarios adicionados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'funcionariosadd' %}">Adicionar novo Funcionario</a>

{% endblock content%}