{% extends "BStudios/master.html" %}

{% load static %}
    
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="slide.js" defer></script>

    <main>
        <!--antigo carrossel que agr é imagem-->
        <div class="slider-box primeiro">
                <img class="img-desktop" src="{% static 'media/g1cfc6a4a1a30bf7d42b8370126f09813e28d8c084c13f12a9.png' %}" alt="">
                <div class="img-text">
                    <h2>Ser esteticista é inspirar confiança e autoestima, com momentos de cuidado e rejuvenescimento.</h2>
                <a href="" class="botao">Realize seu curso agora</a></div>
            </div>
        </div>
        <!--antigo carrossel que agr é imagem-->
        <!--conteudo sobre-->
        <div class="conteudo">
            <div class="text">
                <h1>Bem vindo(a) ao Beauty Studio</h1>
                <h2>Serviços e Cursos melhores da região</h2>
                <p>Somos apaixonados por proporcionar experiências transformadoras e inigualáveis em serviços de alta qualidade. Aqui, a excelência é a nossa marca registrada, e a satisfação dos clientes é a nossa missão incansável.</p>
                <p> Em nosso salão, reunimos os melhores profissionais, dedicados a aprimorar a sua beleza e elevar a sua autoestima. Cada membro da nossa equipe é selecionado não apenas pelo talento excepcional, mas também pela paixão em superar expectativas.</p>
                <p>Nós nos orgulhamos de oferecer um ambiente moderno e aconchegante, com um conceito de loft no térreo que exala sofisticação e contemporaneidade. Oferecemos uma ampla gama de serviços, desde cortes masculinos e femininos que refletem as últimas tendências até mechas e colorações que realçam a sua personalidade única. Se deseja uma transformação mais radical, nossos especialistas em megahair estão à disposição para criar looks deslumbrantes.</p>
                <p>Além disso, somos especialistas em tratamentos capilares, como progressivas que proporcionam resultados duradouros e alongamento de cílios que realçam o olhar de maneira sublime. Não nos limitamos apenas aos cabelos, mas também cuidamos da sua pele com tratamentos personalizados que revelam a beleza natural.</p>
                <p>E para complementar a experiência, contamos com as melhores manicures, que transformam as suas mãos em verdadeiras obras de arte. No nosso espaço, cada detalhe é cuidadosamente pensado para garantir que você se sinta mimado e revitalizado.</p>
                <p>Junte-se a nós e permita-nos levar a sua jornada de beleza a novos patamares. No nosso salão, não entregamos apenas serviços, entregamos confiança, autoestima e a garantia de que você sairá sentindo-se radiante e satisfeito. Nosso espaço vai te conquistar já no primeiro olhar, pois aqui, a beleza é uma experiência completa.</p>
            </div>
            <div class="image">
                <img src="{% static 'media/Captura de tela 2024-08-05 141150.png' %}" alt=""/>
            </div>
        </div>
        <!--conteudo sobre-->
        <!--cursos, NÃO MEXER AINDA-->
        <br><h1>Últimos Cursos</h1><br>
        <section class="ser">
            <div class="slider-content2">
                <input type="radio" name="btn-radio" id="radio3">
                <input type="radio" name="btn-radio" id="radio4">
            <div class="box">
                <div class="cur">
                    <a href=""><img src="" width= "200px" height="200px"></a><a href=""><h1>Micropgimentação de Sobrancelhas</h1></a>
                </div>
            </div>
            <div class="box">
                <div class="cur"><a href=""><img src="" width= "200px" height="200px"></a><a href=""><h1>Fibra de Vidro</h1></a>
                </div>
            </div>
            <div class="box">
                <div class="cur">
                    <a href=""><img src="" width= "200px" height="200px"></a><a href=""><h1>Massagem</h1></a>
                </div>
            </div>
                <div class="nav-auto2">
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <div class="nav-manual2">
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </section>
    </main>

{% endblock %}