{% extends "BStudios/master.html" %}

{% load static %}
    
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

  <main>
      <!--Seção um-->
      <div class="img_a">
          <div class="intro-text">
              <h1>Bem-vindo ao Beauty Studio</h1>
              <h2>Experimente a excelência em beleza e bem-estar</h2>
              <p>Descubra nossos serviços premium em um ambiente sofisticado e acolhedor. Nossa missão é elevar sua beleza com os melhores profissionais e técnicas avançadas.</p>
              <a href="{% url 'index' %}" class="button">Saiba Mais</a>
          </div>
          <img src="{% static 'img/esticombre.png' %}" alt="Imagem de uma mulher passando hidratante de pele.">
      </div>
      <!-- seção dois-->
      <section class="intro">
          <div class="content">
              <h2 class="textin">Ser Esteticista é inspirar Confiança e Autoestima, <strong>com momentos de Cuidado e Rejuvenescimento.</strong></h2>
              <a href="{% url 'cursos' %}" class="button">Realize seu curso agora</a>
          </div>
          <div class="intro-image">
              <img src="{% static 'img/peleb.png' %}" alt="Imagem do Beauty Studio"/>
          </div>
      </section>
      <!-- seção tres-->
      <h1 class="tt_serv">
          Confira Nossos Cursos
      </h1>
      <div class="serv">
        {% for curso in cursos %}
          <div class="box1">
            <img src="{{ curso.image.url}}" alt="{{ curso.nome}}">
            <div class="int_box1">
              <h2 class="tt_box1">
                {{ curso.nome }}
              </h2>
              <p>
                  {{curso.descricao}}
              </p>
              <a href="{% url 'detalhes' curso.idCurso %}">Saiba mais</a>
            </div>
          </div>
          {% endfor %}
      <!-- seção quatro-->
      <div class="feedback-container">
        <h2 class="feedback-title">Feedback</h2>
        <div class="feedback">
            <div class="feedback-item">
                <img src="{%static 'img/cobaia.png' %}" alt="Foto do Cliente" class="feedback-img">
                <div class="feedback-text">
                    <p>
                      Ótimo serviço, muito satisfeito com o resultado. Adquiri técnicas que não conhecia, com certeza
                      irei aplicar nos meus clientes. Recomendo de mais!
                    </p>
                </div>
            </div>
            <div class="feedback-item">
                <img src="{%static 'img/cobaia2.png' %}" alt="Foto do Cliente" class="feedback-img">
                <div class="feedback-text">
                    <p>Adorei o atendimento e a qualidade do serviço. A experiência foi excelente, recomendo a todos!</p>
                </div>
            </div>
        </div>
    </div>
  </main>

{% endblock %}