{% load static %}  
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="beleza, beauty, cabelos,estetica, unhas"/>
    <meta name="author" content="Vanessa Gonçalves e David Lopes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty & Cursos</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logoc.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
      <header>
        <div class="cabecalho">
            <ul class="logo">
                <li>
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logoc.png' %}" height="70" width="60" alt="Logo do Site beauty Studio">
                    </a>
                </li>
            </ul>
            <div class="submenu">
                <ul class="acesso">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'cursos' %}">Cursos</a></li>
                </ul>
            </div>
            <ul class="menu">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'perfil' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/></svg>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Sair</a>
                </li>
                {% else %}
                <li><a href="{% url 'areacadastro' %}">Cadastre-se</a></li>
                <li class="int">
                    <a href="{% url 'arealogin' %}" class="btn-entrar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        Entrar
                    </a>
                </li>
            </ul>
        </div>
        <div class="boa">
            {% endif %}
            {% if show_welcome %}
            <div class="boa"></div>
            <li>Seja bem-vindo, {{ username }}!</li>
            {% endif %}
        </div>
    {% block content %}

    {% endblock %}
    {% block footer %}
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{%static 'img/logoc.png'%}" width="100px"  alt="Logo do Site - Beauty Studio">
            </div>
            <div class="footer-contacts">
                <h2>Contatos</h2>
                <p><i class="fas fa-phone"></i> +55 (84) 981456-7890</p>
                <p><i class="fas fa-envelope"></i> contato@beautycursos.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Rua Exemple, 123, Canguaretama - RN</p>    
            </div>
            <div class="footer-socials">
                <h2>Siga-nos</h2>
                <div class="social-icons-container">
                    <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © Beauty & Cursos | 2024</p>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>