{% extends "BStudios/master.html" %}

{%load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/perfil.css' %}">

<h2 class="profile-title">Perfil do Usuário</h2>
<div class="user-info">
    <p>Olá, {{user.username}}</p>
    <p><strong>Nome:</strong> {{ user.nome }}</p>
    <p><strong>Telefone:</strong> {{ user.telefone }}</p>
    <p><strong>E-mail:</strong> {{ user.email }}</p>
    <p><strong>Usuário:</strong> {{ user.username }}</p>
</div>

{% if request.user.is_superuser %}
<h2 class="section-title">Compras</h2>
{% else %}
<h2 class="section-title">Minhas Compras</h2>
{% endif %}

<ul class="purchases-list">
    {% for pedido in pedido %}
        {% if request.user.is_superuser %}
        <li>{{ pedido.fk_idCurso.nome }} - Comprado em {{ pedido.data }} por {{pedido.fk_idUsuario.nome}}</li>  
        {% else %}
        <li>{{ pedido.fk_idCurso.nome }} - Comprado em {{ pedido.data }}</li>
        {% endif %}
    {% empty %}
        {% if request.user.is_superuser %}
        <li>Nenhum curso foi comprado.</li>
        {% else %}
        <li>Você ainda não comprou nenhum curso.</li>
        {% endif %}
    {% endfor %}
</ul>

<h2 class="section-title">Histórico</h2>
<ul class="history-list">
    {% for curso in cursos_historico %}
    <li class="history-item">
        <img src="{{ curso.image.url }}" alt="{{ curso.nome }}" class="course-image">
        <div class="course-info">
            <a href="{% url 'detalhes' curso.idCurso %}" class="course-link">{{ curso.nome }}</a>
            <p class="course-status">Situação: {{ curso.situacao }}</p> <!-- Exibe a situação do curso -->
        </div>
    </li>
    {% empty %}
    <li>Você ainda não visualizou nenhum curso.</li>
    {% endfor %}
</ul>


{% endblock content %}