# Ambiente Virtual
venv/
env/
ENV/
.venv/
.VENV/

# Arquivos compilados do Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local (SQLite)
db.sqlite3
db.sqlite3-journal

# Arquivos de log
*.log

# Configurações locais e arquivos de ambiente
.env
.env.local
.env.*.local
*.env

# Mídia e arquivos de upload
media/
uploads/

# Arquivos de cache
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
*.log
.cache/
*.log
.cache/
.django_cache/

# Arquivos e diretórios de ferramentas
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configurações de SO
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de configuração do PyCharm/JetBrains
*.iml
.idea/
*.ipr
*.iws

# Arquivos relacionados ao coverage
htmlcov/
.coverage
.tox/
.coverage.*

# Arquivos estáticos gerados


# Diretórios de testes e resultados
test-results/
coverage/
.tox/
noxfile_output/
