{% extends "BStudios/master.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/arealogin.css' %}">


<div class="login-container">
    <div class="login-image">
        <img src="{%static 'img/mlrgrande.png' %}" alt="Imagem de fundo, mulher deitada com pedras quentes nas costas.">
    </div>

    <div class="login-form">
        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <form action="{% url 'arealogin' %}" method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <p>Username: <input type="text" name="username" placeholder="Digite seu username" required></p>
            <p>Senha: <input type="password" name="senha" placeholder="Digite sua senha" required></p>
            <button name="submit">Entrar</button>
            <input type="hidden" name="text" value="{% url 'index' %}"/>
            <p class="cad">Não possui uma conta? <a href="{% url 'areacadastro' %}">Cadastre-se</a></p>
        </form>
    </div>
</div>


{% endblock content %}

