{% extends "BStudios/master.html" %}

{% block content %}
   

    {% if form.errors %}
        <p>Seu login e senha estão incorretos. Por favor, tente novamente! </p>
    {% endif%}

    <form action="{% url 'arealogin' %}" method="post">
        {% csrf_token %}
        <p>Username: <input type="text" name="username"></p>
        <p>Senha: <input type="password" name="senha"></p>


        <button name="submit">Entrar</button>
        <input type="hidden" name="text" value="{% url 'index' %}"/>
    </form>

{% endblock content %}

