
:root {
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}
body {
    background-color: var(--vinhoprinci);
}


.add-curso-container {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    max-width: 1200px;
}


.add-curso-card {
    display: flex;
    flex-direction: row;
    background-color: var(--vinho);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    gap: 20px;
    width: 100%;
}


.curso-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vinhoclaro);
    padding: 10px;
    border-radius: 8px;
    width: 90%;
}

.curso-image img {
    max-width: 650px;
    max-height: 650px;
    object-fit: cover;
    border-radius: 20px 0px 20px 0px;
}

.curso-form {
    flex: 1;
}

.curso-form h1 {
    font-weight: bold;
    color: var(--brancovinho);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--fontwhite);
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid var(--brancovinho);
    background-color: transparent;
    color: var(--brancovinho);
    font-size: 14px;
    outline: none;
    border-radius: 10px;
}

.form-group input::placeholder {
    color: var(--brancovinho);
    opacity: 0.7;
}

.form-group input:focus,
.form-group select:focus {
    border-bottom: 2px solid var(--vinhclaro);
}


button {
    background-color: var(--corhover);
    width: 50%;
    border: none;
    padding: 10px;
    color: var(--brancovinho);
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 20px auto 0;
    text-align: center
}