:root {
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}

body {
    background-color: var(--vinhoprinci);
    font-family: Arial, sans-serif; /* Adiciona uma fonte mais amigável */
}

.cadastro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    margin-top: 5%;
    max-width: 1250px;
    padding: 20px;
    gap: 80px;
    background-color: var(--vinho); 
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    position: relative;
}

.cadastro-form {
    width: 50%;
    padding: 20px 40px;
    background-color: var(--vinhoclaro);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.cadastro-form h1 {
    margin: 15px 0;
    font-weight: bold;
    color: var(--brancovinho);
    font-size: 24px;
}

.cad-img {
    width: 40%;
    text-align: center;
}

.cad-img img {
    max-width: 100%;
    height: auto;
    border-radius: 30px 0 30px 0;
}

form {
    width: 100%; 
}

.form-group {
    width: 100%;
    margin-bottom: 20px; /* Espaçamento entre os campos */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--brancovinho);
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--vinhoclaro);
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    background-color: var(--vinho);
    border: none;
    padding: 12px 35px;
    color: var(--brancovinho);
    font-size: 16px;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--marromleve);
    color: var(--brancovinho);
}
