/* Estilo do formulário */
:root {
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}



form {
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #dadfe4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input {
    margin-bottom: 20px;
   
}
.tit{
    margin-left: -85%;
    color: var(--vinhoprinci);
}
form label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

form input[type="text"],
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="text"]:focus,
form input[type="file"]:focus {
    border-color: #6f233f;
    box-shadow: 0 0 5px rgba(111, 35, 63, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6f233f;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0445d;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(160, 68, 93, 0.5);
}

.title{
    margin-top: 2%;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--vinhoprinci);
}