/* Estilo da página de Cursos*/
:root {
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}


h1{
    color: #a0445d;
    margin-top: 3%;
    margin-left: -50%;
}
.cursos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 20px;
    margin-top: 1%;
    margin-bottom: 30px;
}


.curso-card {
    background-color: var(--fontwhite);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 250px;
 
}


.curso-card:hover { 
    background-color: var(--corhover);
}


.curso-card a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #420c1d;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.curso-card a:hover {
    color: #ffffff;
}


.curso-card img {
    max-width: 100%;
    height: 150px;
    border-radius: 0px 10px 0px 10px;
    margin-bottom: 10px;
 
}


.curso-card p {
    font-size: 15px;
    color: #191515;
}


.admin-actions a {
    display: block;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    text-align: center; 
}

.btn-editar {
    background-color: #62cb5c;
   
   
}

.btn-editar:hover {
    background-color: #599161;

    
}

.btn-excluir {
    background-color: #a0445d;
   
  
}

.btn-excluir:hover {
    background-color: #58262c;
    

}

.add-curso-btn {
    display: inline-block;
    background-color: #420c1d;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    position: absolute;
    top: 110px; 
    right: 60px; 
}

.add-curso-btn:hover {
    background-color: #a0445d;
    transition: background-color 0.3s ease;
}

.cursos-container {
    position: relative; 
    padding: 20px;
}