:root{
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--vinhoprinci);
}

main {
    margin: 0 auto;
    margin-top: 13%;
    max-width: 1200px; 
    padding: 0 20px; 
}


.img_a {
    display: flex;
    margin-left: -82rem;
    align-items: center;
    gap: 40px; 
    flex-wrap: wrap; 
    /*Corrigir margens que está causando muito conflito*/
}

.img_a img {
    width: 25%; 
    height: auto;
    border-radius: 30px 0px 30px 0px;
    transition: transform 0.5s ease;
}

.img_a .content {
    width: 60%; 
    margin-left: 5%;
}

.img_a .textin {
    font-size: 2.5rem; 
    font-weight: ;
    color: #ececec; 
    margin-left: 0; 
}


.img_a .textin strong {
    color: var(--marromleve); 
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--vinhoclaro); 
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 30px; 
    font-size: 1.5rem;
}
.button:hover {
    background-color: #f9a6a6; 
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.img_a img {
    animation: slideUp 1s ease forwards; 
}