@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Dekko&family=Gruppo&display=swap');

        
        
        main 
        {
            background-color: #FFF9FA;
            text-align: center;
            padding: 30px
        }
       
        .ser
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 300px;
        }
        .box
        {
            border-radius: 20px;
            background-color: #FFF4E9;
            width: 290px;
            height: 275px;
        }
        h1
        {
            color: #2f0210;
        }
        .rodape
        {
            gap: 10%;
            justify-content: center;
        }
        @media screen and (max-width:900px){
            .img-desktop{
                display: none;
            }
            .img-mobile{
                display: block;
            }
            .nav-auto, .nav-manual{
                margin-top: 60%;/*pode mudar*/
            }
        }