@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Dekko&family=Gruppo&display=swap');
*
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Oregano', 'Gruppo', 'Dekko', 'Chivo Mono', sans-serif;
        }
        ul
        {
            list-style: none;
        }
        a
        {
            text-decoration: none;
            color: #FFF9FA;
        }
        h1
        {
            color: #2f0210;
        }
        h2
        {
            color: #441B28;
        }
        /* carrossel*/
        section.slider
        {
            margin: 180px auto 0 auto;
            width: 100%;
            height: auto;
            padding: 0;
            overflow: hidden;
            background-color: #FFF9FA;
        }
        .slider-content
        {
            width: 400%;
            height: auto;
            display: flex;
        }
        .slider-content input, .img-mobile
        {
            display: none;
        }
        .slider-box 
        {
            width: 25%;
            height: auto;
            position: relative;
            text-align: center;
            transition: 1s;
        }
        .img-container
        {
            position: relative;
            overflow: hidden;
        }
        .primeiro .img-text
        {
            position: absolute;
            top: 20%;
            left: 25%;
            transform: translate(-50%, -50%);
            text-align: center; 
        }
        .primeiro .img-text h2 {
            
            
            margin-bottom: 20px;
        }
        
        .img-text a {
            display: inline-block;
            padding: 10px 20px;
            color: #FFF9FA;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            background-color: #9F5321;
        }
        .img-text a:hover {
            background-color: #8F4B1E;
        }
        .segundo .img-text
        {
            position:absolute;
            top: 10%;
            left: 70%;
            text-align: center; 
        }
        .slider-box  img
        {
            width: 100%;
        }
        .nav-manual, .nav-auto
        {
            position: absolute;
            width: 100%;
            margin-top: 47%; /*pode mudar*/
            display: flex;
            justify-content: center;
        }
        .nav-manual .manual-btn, .nav-auto div
        {
            border: 1px solid #2f0210;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s;
        }
        .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child)
        {
            margin-right: 10px;
        }
        .nav-manual .manual-btn:hover
        {
            background-color: #2f0210;
        }
        #radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3
        {
            background-color: #2f0210;
        }

        #radio1:checked ~ .primeiro
        {
            margin-left: 0%;
        }
        #radio2:checked ~ .primeiro
        {
            margin-left: -25%;
        }
        /*conteudo*/
        main 
        {
            background-color: #FFF9FA;
            text-align: center;
            padding: 30px
        }
        main .conteudo
        {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            background-color: #FFF4E9;
            border-radius: 50px;
        }
        .ofertas
        {
            padding: 20px;
        }
        .conteudo .text
        {
            width: 50%;
        }
        .conteudo .text h1
        {
            margin-bottom: 10px;
        }
        .conteudo .text h2
        {
            margin-bottom: 30px;
        }
        .conteudo .text p 
        {
            margin-bottom: 10px;
            text-align: justify;
            padding: 0 20px 0 20px;
        }
        .image
        {
            width: 50%;
            height: 90%;
        }
        main .ser
        {
            margin: 180px auto 0 auto;
            width: 100%;
            padding: 0;
            overflow: hidden;
            background-color: #FFF9FA;
            justify-content: space-around;
            align-items: center;
            height: 300px;
            display: flex;
        }
        .slider-content2
        {
            width: 400%;
            height: auto;
            display: flex;
        }
        .slider-content2 input
        {
            display: none;
        }
        .box 
        {
            width: 25%;
            position: relative;
            text-align: center;
            transition: 1s;
            border-radius: 20px;
            background-color: #FFF4E9;
            width: 290px;
            height: 275px;
        }
        .cur
        {
            position: relative;
            overflow: hidden;
        }
        .nav-manual2, .nav-auto2
        {
            position: absolute;
            width: 100%;
            margin-top: 47%; /*pode mudar*/
            display: flex;
            justify-content: center;
        }
        .nav-manual2 .manual-btn2, .nav-auto2 div
        {
            border: 1px solid #2f0210;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s;
        }
        .nav-manual2 .manual-btn2:not(:last-child), .nav-auto2 div:not(:last-child)
        {
            margin-right: 10px;
        }
        .nav-manual2 .manual-btn2:hover
        {
            background-color: #2f0210;
        }
        #radio1:checked ~ .nav-auto2 .auto-btn3, #radio2:checked ~ .nav-auto2 .auto-btn4
        {
            background-color: #2f0210;
        }

        #radio1:checked ~ .primeiro
        {
            margin-left: 0%;
        }
        #radio2:checked ~ .primeiro
        {
            margin-left: -25%;
        }
        h1
        {
            color: #2f0210;
        }

        @media screen and (max-width:900px){
            .img-desktop{
                display: none;
            }
            .nav-auto, .nav-manual{
                margin-top: 60%;/*pode mudar*/
            }
        }