/*Este CSS ele altera somente o cabeçalho e o rodapé*/
:root{
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    background-color: var(--vinhoprinci);
    width: 100%;
    text-align: center;
    margin-top:-1%;
    height: 100px; /* Ajuste a altura conforme necessário */
}
.cabecalho {
    width: 100;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 25px;
}

.logo li a img{
    margin-top: 1rem;
    margin-left: 5rem;
}

.menu {
    display: flex;
    margin-top: 15px;
    gap: 20px; /* Adicionado para espaçamento entre itens */
    align-items: center;
}

.menu li {
    list-style: none;
    margin-top: 10px;
}

.menu li a {
    padding: 12px 10px;
    text-align: center;
    transition: background 0.3s;
    margin-left: 2rem;
    color: #ececec;
    border-radius: 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #eaa59f5b;
    color: #f4dadb;
}

.int {
    width: 50%;
    margin-left: -10%;
    margin-top: -20%;
}

/* Botão "Entrar" */
.btn-entrar {
    display: flex;
    align-items: center;
    background-color: var(--vinhoclaro); 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}
.btn-entrar svg {
    margin-right: 15px;
}

.btn-entrar:hover {
    background-color: var(--marromleve); 
}

.submenu {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.submenu .acesso {
    list-style: none; 
    padding: 0; 
}

.submenu ul {
    gap: 30px;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    margin-left: 50rem;
    list-style: none;
    
}
.submenu ul li {
    position: relative;

}

.submenu ul li a {
    display: inline-block;
    padding: 10px;
    transition: background .3s;
    color: #ececec;
    text-decoration: none;
    border-radius: 10px; 
}

.submenu li a:hover {
    background-color: #eaa59f5b;
    border-radius: 10px; 
    color: #f4dadb;
}

.submenu ul ul {
    display: none;
    position: absolute;
    width: 150px;
    left: 0;

}
.submenu ul ul li a {
    display: block;
} 


/*Rodapé*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 232.2%;
    height: 90px;
    background-color: var(--vinho);
    padding: 20px;
    color: #FFF9FA;
    margin-top: 150%;
    margin-left: -530%;
}

footer p {
    font-size: 12px;
    margin: 5px 0;
}

footer ul {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}
