@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
*
        .login
        {
            display: flex;
            background-color: rgb(239, 236, 243);
            width: auto;
            height: auto;
            justify-content: center;
            align-items: center;
        }
        .form-image
        {
           display: flex;
           justify-content: center;
           align-items: center;
           background-color:rgb(239, 236, 243);
           padding: 3rem;
           width: 31rem;
           height: 100%;
        }
        .form
        {
            width: 31rem;
            display: flex;
            padding: 161px;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            background-color: white;
            padding: 3rem;
            height: 100%;
        }
        button
        {
            width: 100%;
            margin-top: 2.5rem;
            border: none;
            background-color: #2f0210;
            padding: 0.62rem;
            border-radius: 5px;
            color: white;
        }