
/* Estilo da página de Cadastro-superuser*/
:root {
    --vinhoprinci: #420c1d;
    --vinho: #6f233f;
    --vinhoclaro: #a0445d;
    --marromleve: #cb5c64;
    --vinhobb: #e490ba;
    --vinhclaro: #eaa59f;
    --brancovinho: #f4dadb;
    --corhover: #eaa59f5b;
    --fontwhite: #ececec;
}
body{
    background-color: var(--vinhoprinci);
}

.cadastro-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    margin-top: 5%;
    max-width: 1250px;
    padding: 20px;
    gap: 80px;
    background-color: var(--vinho); 
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.cadastro-form2 {
    width: 50%;
    padding: 20px 40px;
    background-color: var(--vinhoclaro);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.cadastro-form2 h1{
    margin: 15px;
    margin-top: -6rem;
    font-weight: bold;
    color: #f4dadb;
    margin-bottom: 30px;
}


.cad-imguser{
    margin-left: 20px;
    width: 40%; 
    text-align: center;    
}


.cad-imguser img {
    max-width: 100%; 
    height: auto;
    border-radius: 30px 0px 30px 0px;
}


button {
    margin-top: 20px;
    background-color: var(--vinho);
    border: none;
    padding: 12px 35px;
    color: #f4dadb;
    font-size: 16px;
    width: 90%;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--marromleve);
}